<section class="panel banner right">
	<div class="content color0 span-3-75">
    
    <%= render @cliente %>

    <div>
      
      <%= link_to "Edit this cliente", edit_cliente_path(@cliente) %> |
      <%= link_to "Back to clientes", clientes_path %>
      
      <%= button_to "Destroy this cliente", @cliente, method: :delete %>
    </div>

  </div>