  <section class="panel banner right">
	<div class="content color0 span-3-75">
        <h2>Editar fornecedor - <%= @fornecedor.nome %></h2>
        <a href="/fornecedores">Voltar para fornecedores</a><br>
            <%= render 'form', url: fornecedores_alterar_path %>
    </div>
	<div class="image filtered span-1-75" data-position="25% 25%">
        <img src="/images/pic01.jpg" alt="" />
    </div>
</section>
