    

<section class="panel banner right">
	<div class="content color0 span-3-75">
        <a href="/fornecedores">Voltar para fornecedores</a><br>
        <div>
            Nome: <%= @fornecedor.nome %>
        </div>
        <div>
            CNPJ: <%= @fornecedor.cnpj %>
        </div>
        <div>
            Endereço: <%= @fornecedor.endereco %>
        </div>
    </div>
	<div class="image filtered span-1-75" data-position="25% 25%">
        <img src="/images/pic01.jpg" alt="" />
    </div>
</section>
